

.my-map{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 600px;
    /* display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;  */
}

.map-holder{
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-map.h1{
    display: flex;
    justify-content: center;
    align-items: center;

}

/* Map.css */
.map-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  
  .my-map {
    width: 80%;
    margin: auto;
  }
  


@media only screen and (max-width: 600px) {

    .my-map{
        position: relative;
        display: flex;
        flex-direction: column;
        width: 400px;
        height: 400px;
        /* display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;  */
    }

  
}