* {
  box-sizing: border-box;
}

body {
  display: block;
  margin: 0;
  padding: 0;
}
.navbar ul li a{
  text-decoration: none;
  color: black;
  font-style: italic;
 }

 .navbar ul li a:hover{
  color: gray;
  transition: 0.5s;
 }

.main { 
  flex: 1;
  padding: 20px;
  margin-left: 10%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 10%);
  /* Adjusted width to take into account the margin-left */
  background-color: gray;
  color: white;
  overflow: auto;
}

nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  font-size: 32px;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 10%;
  height: 100vh;
  background-color: #f0f0f0;
}

.navbar {
  position: fixed;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  top: 30%;
  transform: translateY(-50%); 
  
}
.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(0, 0%, 10%);
}

.main .pages-links {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 0.5rem;
  gap: 0.5rem;
  margin-bottom: 1rem;
  /* Add margin-bottom to separate from the catalog board */
}

.catalog-board-controls {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 1rem;
  /* Add margin-top to separate from the top of the main container */
}


/* mobile */

@media only screen and (max-width: 600px) {
  body{
    font-size: 10px;
  }
  nav {
    width: 20%;
    font-size: 15px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
   
  }
  nav .navbar{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .navbar {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    gap: 5px;
    padding: 5px;
    box-sizing: border-box;
    top: 30%;
    transform: translateY(-50%); 
    text-align: center;
    width: 20%;
  }

  .navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .navbar li {
    margin: 5px 0;
   
  }

  .main {
    margin: 10px;
    flex: 1;
    padding: 15%;
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    width: calc(100vw - 20%);
    /* Adjusted width to take into account the margin-left */
    background-color: gray;
    color: white;
    overflow: auto;
  }

}